.ant-tabs-nav-wrap {
    justify-content: center;
    padding: 15px 0;
    /* height: 140px; */
}
.ant-tabs-ink-bar {
    background-color: transparent !important;
}

.ant-tabs-tab {
    /* transition: all 0.3s ease-in; */
}

.ant-tabs-tab > #rc-tabs-0-tab-0 img,
.ant-tabs-tab > #rc-tabs-0-tab-1 img,
.ant-tabs-tab > #rc-tabs-0-tab-2 img,
.ant-tabs-tab > #rc-tabs-0-tab-3 img,
.ant-tabs-tab > #rc-tabs-0-tab-4 img,
.ant-tabs-tab > #rc-tabs-0-tab-5 img {
    opacity: 0.5;
    transition: all 0.3s ease-in;
}

.ant-tabs-tab-active p:first-child {
    color: #ff5400;
}

.ant-tabs-tab-active {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.ant-tabs-tab-active > #rc-tabs-0-tab-0 img,
.ant-tabs-tab-active > #rc-tabs-0-tab-1 img,
.ant-tabs-tab-active > #rc-tabs-0-tab-2 img,
.ant-tabs-tab-active > #rc-tabs-0-tab-3 img,
.ant-tabs-tab-active > #rc-tabs-0-tab-4 img,
.ant-tabs-tab-active > #rc-tabs-0-tab-5 img {
    opacity: 1;
    border-radius: 50%;
    /* border: 10px solid #ff5400; */
    transform: scale(1.3);
}

.ant-tabs-tab {
    justify-content: center;
}

@media screen and (max-width: 991px) {
    #showtimes-cinema .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
        flex-wrap: wrap;
        flex-grow: 1;
        /* flex-direction: row !important; */
        justify-content: center;
        /* display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px 15px; */
    }

    #showtimes-cinema .ant-tabs-tab-btn {
        flex: 0 0 100%;
        width: 100%;
    }
    #showtimes-cinema .ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar,
    .ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar {
        display: none !important;
    }
    .ant-tabs-content .ant-tabs-content-left {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #detail-tabs .ant-tabs-nav-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #detail-tabs .ant-tabs-nav-list .ant-tabs-tab,
    #showtimes-cinema .ant-tabs-top .ant-tabs-tab {
        flex: 0 0 33.333333%;
        max-width: 33.3333333%;
        justify-content: center;
    }
    #showtimes-cinema .ant-tabs-left .ant-tabs-tab {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #showtimes-cinema .ant-tabs-tab {
        margin: 0 !important;
    }
    .ant-tabs-left {
        display: flex;
        flex-direction: column;
    }
}
